{% extends "account/base.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block page_title %}{% trans "Set Password" %}{% endblock page_title%}
{% block page_title_details %}{% endblock page_title_details%}

{% block content %}
<section class="section">
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-sm btn-primary-outline" type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}