{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% load static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}


   

   
<!-- page title -->
<section class="page-title-section overlay" data-background="{% static 'images/backgrounds/page-title.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" >{% trans "Password Reset" %}</a></li>
          <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
        </ul>
        <p class="text-lighten">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

 {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

<!-- contact -->
<section class="section">
  <div class="container">
    <div class="row">
        <div class="col-lg-5">
            <p class="mb-5">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
        <div class="col-lg-7 mb-4 mb-lg-0">
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% trans 'Reset My Password' %}" />
            </form>
        </div>
    </div>
  </div>
</section>

{% endblock %}
