{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block page_title %}<a class="h2 text-primary font-secondary">{% trans "Change Password" %}</a>{% endblock page_title %}
{% block page_title_details %}<li class="list-inline-item text-white h3 font-secondary nasted">{% trans 'Your password is now changed.' %}</li>{% endblock page_title_details %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <p>{% trans 'Your password is now changed.' %}</p>
        </div>
    </div>
</section>
{% endblock %}