{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% load static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block page_title %}{% trans "Password Reset" %}{% endblock page_title%}
{% block page_title_details %}{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}{% endblock page_title_details%}


{% block content %}

 {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

<!-- contact -->
<section class="section">
  <div class="container">
    <div class="row">
        <div class="col-lg-5">
            <p class="mb-5">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
        <div class="col-lg-7 mb-4 mb-lg-0">
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% trans 'Reset My Password' %}" />
            </form>
        </div>
    </div>
  </div>
</section>

{% endblock %}
