{% extends "account/base.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% load static %}

{% block content %}

<!-- page title -->
<section class="page-title-section overlay" data-background="{% static 'images/backgrounds/page-title.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" >{% trans "Sign Up" %}</a></li>
          <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
        </ul>
        <p class="text-lighten">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- registar form -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center align-self-center">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</section>
<!-- /registar form -->

{% endblock %}




