{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block page_title %}<a class="h2 text-primary font-secondary">{% trans "Password Reset" %}</a>{% endblock page_title %}
{% block page_title_details %}<li class="list-inline-item text-white h3 font-secondary nasted">{% trans "We have sent you an e-mail. Please contact us if you do not receive it within a few minutes." %}</li>{% endblock page_title_details %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="row justify-content-center align-self-center">
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
