{% extends "base.html" %}

{% load static %}

{% block page_title %}<a class="h2 text-primary font-secondary" href="{% url 'analysis' %}">Chart</a>{% endblock page_title %}
{% block page_title_details %}<li class="list-inline-item text-white h3 font-secondary nasted">Examples</li>{% endblock page_title_details %}

{% block content %}

<section class="section">
    <div class="container">
        <div class='row'>
                <h5>Statistics for Courses</h5>
                <div class='col-sm-6'>
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
        </div>
    </div>
  </section>

{% endblock content %}

{% block extra_scripts %}

<script type="text/javascript"> 
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for c in courses %}'{{ c.title }}',{% endfor %}],
            datasets: [{
                label: 'Price (€)',
                data: [{% for c in courses %}'{{ c.price }}',{% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>

{% endblock extra_scripts %}