{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block page_title %}Deleted post ?{% endblock page_title%}
{% block page_title_details %}<li class="list-inline-item text-white h3 font-secondary nasted">By {{request.user.userprofile.name}}</li>{% endblock page_title_details%}

{% block content %}
 
<!-- teacher details -->
<section class="section">
  <div class="container">
    <div class="row">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Are you sure you want to delete "{{ object }}"?</legend>
                {% csrf_token %}
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-sm btn-primary-outline" type="submit">Yes, Delete</button>
                <a class="btn btn-primary btn-sm" href="{% url 'post-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
  </div>
</section>
<!-- /research -->

{% endblock content %}