{% extends "base.html" %}

{% load static %}

{% block page_title %}<a class="h2 text-primary font-secondary" href="{% url 'ecenter-blog' %}">Blog</a>{% endblock page_title %}
{% block page_title_details %}<li class="list-inline-item text-white h3 font-secondary nasted">{{ object.title }}</li>{% endblock page_title_details %}

{% block page_button %}{% if request.user == object.author.userprofile.user %}<a href="{% url 'post-update' object.id %}" class="btn btn-sm btn-primary-outline">Update</a> | <a href="{% url 'post-delete' object.id %}" class="btn btn-sm btn-primary-outline">Delete</a>{% endif %}{% endblock page_button %}

{% block content %}

<!-- post details -->
<section class="section-sm bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <img src="{{object.image.url}}" alt="blog-thumb" class="img-fluid w-100">
      </div>
      <div class="col-12">
        <ul class="list-inline">
          <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><span class="font-weight-bold mr-2">Post:</span>{{ object.author.userprofile.name }}</li>
          <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light">{{ object.date_posted|date:"F d, Y" }}</li>
          <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><i class="ti-book mr-2"></i>Read {{ object.view_count }}</li>
          <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><i class="ti-share mr-2"></i>289</li>
          <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><a class="text-light" href="#"><i class="ti-comments mr-2"></i>{{ post.comments.count }}</a></li>
        </ul>
      </div>
      <!-- border -->
      <div class="col-12 mt-4">
        <div class="border-bottom border-primary"></div>
      </div>
      <!-- blog contect -->
      <div class="col-12 mb-5">
        <h2>{{ object.title }}</h2>
        <p>{{ object.content | safe }}</p>
      </div>
      <!-- comment box -->
      <div class="col-12">
        <h5 class="mb-3">Post Comments ({{ post.comments.count }})</h5>
        <hr>
        {% for comment in post.get_comments %}
        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <div class="media mb-2 mb-sm-0">
            <img class="mr-4 img-fluid" src="{{ comment.user.userprofile.image.url }}" height="72" width="72" alt="Teacher">
            <div class="media-body">
              <a href="{% url 'profile-detail' comment.user.id %}"><h4 class="mt-0">{% if comment.user.userprofile.name == '' %}{{ comment.user.username }}{% else %}{{ comment.user.userprofile.name }}{% endif %}</h4></a>
              {{ comment.timestamp|timesince }} ago
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p>{{ comment.content }}</p>
            </div>
        </div>
        </br>
        <div class="border-bottom border-primary mt-4"></div>
      </div><br>
      {% endfor %}
      <hr>
      {% if request.user.is_authenticated %}
      <div class="col-12">
        <br><br><br><h5 class="mb-4">Leave a reply</h5>
          <form method="POST" action="." class="commenting-form">
            {% csrf_token %}
            <div class="row">
              <div class="form-group col-md-12">
                {{ form }}
              </div>
              <div class="form-group col-md-12">
                <button type="submit" value="send" class="btn btn-primary">post comment</button>
              </div>
            </div>
          </form>
      </div>
      {% else %}
        <a href="{% url 'account_login' %}" class="btn btn-primary-outline">Login to comment</a>
      {% endif %}
    </div>
  </div>
</section>
<!-- /post details -->

<!-- recommended post -->
<section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-title">Recommended</h2>
        </div>
      </div>
      <div class="row justify-content-center">
    <!-- blog post -->
    {% for post in rposts %}
    <article class="col-lg-4 col-sm-6 mb-5">
        <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{{post.image.url}}" alt="Post thumb">
          <div class="card-body">
            <!-- post meta -->
            <ul class="list-inline mb-3">
              <!-- post date -->
              <li class="list-inline-item mr-3 ml-0">{{ post.date_posted|timesince }} ago</li>
              <!-- author -->
              <li class="list-inline-item mr-3 ml-0"><a class="text-color" href="{% url 'user-posts' post.author.username %}">By {{ post.author.userprofile.name }}</a></li>
            </ul>
            <a href="{% url 'post-detail' post.id %}">
              <h4 class="card-title">{{ post.title }}</h4>
            </a>
            <p class="card-text">{{ post.short_content }}</p>
            <a href="{% url 'post-detail' post.id %}" class="btn btn-primary btn-sm">read more</a>
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
</div>
</section>
  </div>
    </div>
  </section>
  <!-- /recommended post -->

{% endblock content %}