{% extends "base.html" %}

{% load static %}

{% block page_title %}Profile{% endblock page_title%}
{% block page_title_details %}<li class="list-inline-item text-white h3 font-secondary nasted">{{request.user.userprofile.name}}</li>{% endblock page_title_details%}
{% block page_button %}<a href="{% url 'profile-update' %}" class="btn btn-sm btn-primary-outline">Edit profile</a>{% endblock page_button %}

{% block content %}
 

<!-- teacher details -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mb-5">
        <img class="img-fluid w-100" src="{{request.user.userprofile.image.url}}" alt="teacher">
      </div>
      <div class="col-md-6 mb-5">
        <h3>{{request.user.userprofile.name}}</h3>
        <h6 class="text-color">{{request.user.userprofile.fields}}</h6>
        <p class="mb-5">{{request.user.userprofile.description}}</p>
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h4 class="mb-4">CONTACT INFO:</h4>
            <ul class="list-unstyled">
              <li class="mb-3"><a class="text-color" href="mailto:{{request.user.email}}"><i class="ti-email mr-2"></i>{{request.user.email}}</a></li>
              <li class="mb-3"><a class="text-color" href="callto:{{request.user.userprofile.phone}}"><i class="ti-mobile mr-2"></i>{{request.user.userprofile.phone}}</a></li>
              <li class="mb-3"><a class="text-color" href="#"><i class="ti-facebook mr-2"></i>{{request.user.userprofile.facebook}}</a></li>
              <li class="mb-3"><a class="text-color" href="#"><i class="ti-twitter-alt mr-2"></i>{{request.user.userprofile.twitter}}</a></li>
              <li class="mb-3"><a class="text-color" href="#"><i class="ti-skype mr-2"></i>{{request.user.userprofile.skype}}</a></li>
              <li class="mb-3"><a class="text-color" href="#"><i class="ti-world mr-2"></i>{{request.user.userprofile.site}}</a></li>
              <li class="mb-3"><a class="text-color" href="#"><i class="ti-location-pin mr-2"></i>{{request.user.userprofile.address}}</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <h4 class="mb-4">SUMMARY OF ACTIVITIES/INTERESTS</h4>
            <ul class="list-unstyled">
              {% for interest in request.user.userprofile.interests.all %}<li class="mb-3">{{interest}}</li>{% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12">
        <h4 class="mb-4">BIOGRAPHY</h4>
        <p class="mb-5">{{request.user.userprofile.biography}}</p>
      </div>
    </div>
</div>
</div>
</div>
</section>
<!-- /research -->

{% endblock content %}