{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block page_title %}<a class="h2 text-primary font-secondary" href="{% url 'ecenter-courses' %}">Edit Profile</a>{% endblock page_title %}
{% block page_title_details %}<li class="list-inline-item text-white h3 font-secondary nasted">{{request.user.userprofile.name}}</li>{% endblock page_title_details%}

{% block content %}
 
<!-- profile update -->
<section class="section">
  <div class="container">
    <div class="row">
        {{ u_form.media }}
        {{ p_form.media }}
        <form method="POST" action"." enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-sm btn-primary-outline" type="submit">Update</button>
          </div>
      </form>
    </div>
  </div>
</section>
<!-- /profile update -->

{% endblock content %}