{% extends "base.html" %}

{% load static %}

{% block page_title %}<a class="h2 text-primary font-secondary" href="{% url 'ecenter-about' %}">{{ about.about_heading_title }}</a>{% endblock page_title %}
{% block page_title_details %}<li class="list-inline-item text-white h3 font-secondary nasted">{{ about.about_heading_message }}</li>{% endblock page_title_details %}

{% block content %}

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img class="img-fluid w-100 mb-4" src="{{about.image.url}}" alt="about image">
        <h2 class="section-title">{{ about.title }}</h2>
        <p>{{ about.content | safe }}</p>
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- funfacts -->
<section class="section-sm bg-primary">
  <div class="container">
    <div class="row">
      {% for funfact in about.funfacts.all %}
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
            <div class="text-center">
              <h2 class="count text-white" data-count="{{funfact.value}}">0</h2>
              <h5 class="text-white">{{funfact}}</h5>
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /funfacts -->

<!-- success story -->
<section class="section bg-cover" data-background="{{about.story_backgroung.url}}">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-4 position-relative success-video">
        <a class="play-btn venobox" href="{{about.video}}" data-vbtype="video">
          <i class="ti-control-play"></i>
        </a>
      </div>
      <div class="col-lg-6 col-sm-8">
        <div class="bg-white p-5">
          <h2 class="section-title">{{about.stories_title}}</h2>
          <p>{{about.stories_content | safe}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /success story -->

<!-- teachers -->
<section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="section-title">{{about.title_people}}</h2>
        </div>
        <!-- teacher -->
        {% for people in peoples %}
          <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
            <div class="card border-0 rounded-0 hover-shadow">
              <img class="card-img-top rounded-0" src="{{people.image.url}}" alt="teacher">
              <div class="card-body">
                <a href="{% if people.is_teacher %}{% url 'profile-detail' people.id %}{%else%}{% url 'ecenter-home' %}{%endif%}">
                  <h4 class="card-title">{{people.name }}</h4>
                </a>
                <div class="d-flex justify-content-between">
                  <span>{{people.fields}}</span>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
                    <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                    <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
                    <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- /teachers -->
{% endblock content %}