{% extends "base.html" %}

{% load static %}

{% block page_title %}<a class="h2 text-primary font-secondary" href="{% url 'ecenter-about' %}">{{ header.scholarship_heading_title }}</a>{% endblock page_title %}
{% block page_title_details %}<li class="list-inline-item text-white h3 font-secondary nasted"></li>{% endblock page_title_details %}
{% block more_data %}{{ header.scholarship_heading_message }}{% endblock more_data %}

{% block content %}

<!-- scholarship -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 mb-4 mb-md-0">
        <img class="img-fluid" src="{{ scholarship.image.url }}" alt="scholarship news">
      </div>
      <div class="col-md-6">
        <h2>{{ scholarship.title }}</h2>
        <strong class="mb-4 d-block"><i>{{ scholarship.sub_title }}</i></strong>
        <p>{{ scholarship.content | safe }}</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- scholarship item -->
      {% for area in scholarship.areass %}
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
          <img class="card-img-top rounded-0" src="{{ area.image.url }}" alt="scholarship-thumb">
          <div class="card-body">
            <p class="mb-1">{{ area.category }}</p>
            <h4 class="card-title mb-3">{{ area.title }}</h4>
            <ul class="list-styled">
              {% for r in area.requirements.all %}<li>{{ r }}</li>{% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- scholarship item -->
    </div>
  </div>
</section>
<!-- /scholarship -->
{% endblock content %}