{% extends "base.html" %}

{% load static %}

{% block page_title %}<a class="h2 text-primary font-secondary" href="{% url 'ecenter-notice' %}">{{ header.notice_heading_title }}</a>{% endblock page_title %}
{% block page_title_details %}<li class="list-inline-item text-white h3 font-secondary nasted"></li>{% endblock page_title_details %}
{% block more_data %}{{ header.notice_heading_message }}{% endblock more_data %}

{% block content %}

<!-- notice -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="list-unstyled">
          <!-- notice item -->
          {% for n in notice %}
          <li class="d-md-table mb-4 w-100 border-bottom hover-shadow">
            <div class="d-md-table-cell text-center p-4 bg-primary text-white mb-4 mb-md-0"><span class="h2 d-block">{{ n.notice_date|date:"d" }}</span>{{ n.notice_date|date:"F,Y" }}</div>
            <div class="d-md-table-cell px-4 vertical-align-middle mb-4 mb-md-0">
              <a href="{{ n.get_absolute_url }}" class="h4 mb-3 d-block">{{ n.title }}</a>
              <p class="mb-0">{{ n.short_content }}</p>
            </div>
            <div class="d-md-table-cell text-right pr-0 pr-md-4"><a href="{{ n.get_absolute_url }}" class="btn btn-primary">read more</a></div>
          </li>
          {% endfor %}
          <!-- notice item -->
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- /notice -->
{% endblock content %}