{% extends "base.html" %}

{% load static %}

{% block page_title %}<a class="h2 text-primary font-secondary" href="{% url 'ecenter-about' %}">{{ header.research_heading_title }}</a>{% endblock page_title %}
{% block page_title_details %}<li class="list-inline-item text-white h3 font-secondary nasted"></li>{% endblock page_title_details %}
{% block more_data %}{{ header.research_heading_message }}{% endblock more_data %}

{% block content %}

<!-- research -->
<section class="section">
  <div class="container">
    <div class="row">
      <!-- recharch item -->
      {% for r in research %}
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
          <img class="card-img-top rounded-0" src="{{ r.image.url }}" alt="research thumb">
          <div class="card-body">
            <h4 class="card-title">{{ r.title }}</h4>
            <p class="card-text">
              {{ r.content | safe }}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- recharch item -->
    </div>
  </div>
</section>
<!-- /research -->
{% endblock content %}