{% extends "base.html" %}

{% load static %}
{% load listutil %}

{% block page_title %}<a class="h2 text-primary font-secondary" href="{% url 'ecenter-courses' %}">Courses</a>{% endblock page_title %}
{% block page_title_details %}<li class="list-inline-item text-white h3 font-secondary nasted">{{ object.title }}</li>{% endblock page_title_details %}

{% block page_button %}<div class="col text-center"><a href="{% url 'ecenter-course-filter' %}" class="btn btn-sm btn-primary-outline text-center">Search  <i class="ti-search mr-2"></i></a></div>{% endblock page_button %}

{% block content %}

<!-- section -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <!-- course thumb -->
        <img src="{{ object.image.url }}" class="img-fluid w-100">
      </div>
    </div>
    <!-- course info -->
    <div class="row align-items-center mb-5">
      <div class="col-xl-3 order-1 col-sm-6 mb-4 mb-xl-0">
        <h2>{{ object.title }}</h2>
      </div>
      <div class="col-xl-6 order-sm-3 order-xl-2 col-12 order-2">
        <ul class="list-inline text-xl-center">
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-book text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">COURSES</h6>
                <p class="mb-0">{{ object.course_date|date:"F  d,  Y" }}</p>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-alarm-clock text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">DURATION</h6>
                <p class="mb-0">{{ object.duration }}</p>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-wallet text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">FEE</h6>
                <p class="mb-0">From: {{ object.price }} €</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-xl-3 text-sm-right text-left order-sm-2 order-3 order-xl-3 col-sm-6 mb-4 mb-xl-0">
        <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary">Add to Cart</a>
      </div>
      <!-- border -->
      <div class="col-12 mt-4 order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
    <!-- course details -->
    <div class="row">
      <div class="col-12 mb-4">
          <h3>Lessons</h3>
          <p>
            {% for lesson in object.lessons %}
              <li><a class="text-color" href="{{ lesson.get_absolute_url }}">{{ lesson.title }}</a></li>
            {% endfor %}
          </p>
      </div>
      <div class="col-12 mb-4">
        <h3>{{ object.about_title }}</h3>
        <p>{{ object.content | safe }}</p>
      </div>
      <div class="col-12 mb-4">
        <h3 class="mb-3">Requirements</h3>
        <div class="col-12 px-0">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-styled">
                {% for requirement in object.requirements.all|partition:"2"|first %}<li>{{ requirement }}</li>{% endfor %}
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-styled">
                {% for requirement in object.requirements.all|partition:"2"|last %}<li>{{ requirement }}</li>{% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-4">
        <h3 class="mb-3">How to Apply</h3>
        <ul class="list-styled">
          {% for apply in object.apply.all %}<li>{{ apply }}</li>{% endfor %}
        </ul>
      </div>
      <div class="col-12 mb-5">
        <h3>Fees and Funding</h3>
        {% for ff in object.fees_and_funding.all %}<p>{{ ff | safe }}</p>{% endfor %}
      </div>
      <!-- teacher -->
      <div class="col-12">
        <h5 class="mb-3">{% if object.teacher.all.count == 1 %}Teacher{% else %}Teachers{% endif %}</h5>
        {% for teacher in object.teacher.all %}
        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <div class="media mb-2 mb-sm-0">
            <img class="mr-4 img-fluid" src="{{ teacher.image.url }}" height="72" width="72" alt="Teacher">
            <div class="media-body">
              <a href="{% url 'profile-detail' teacher.id %}"><h4 class="mt-0">{{ teacher.name }}</h4></a>
              {{ teacher.fields }}
            </div>
          </div>
          <div class="social-link">
            <h6 class="d-none d-sm-block">Social Link</h6>
            <ul class="list-inline">
              <li class="list-inline-item"><a class="d-inline-block text-light p-1" href="#"><i class="ti-facebook"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block text-light p-1" href="#"><i class="ti-twitter-alt"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block text-light p-1" href="#"><i class="ti-linkedin"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block text-light p-1" href="#"><i class="ti-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        </br>
        {% endfor %}
        <div class="border-bottom border-primary mt-4"></div>
    </div>
  </div>
</section>
<!-- /section -->

<!-- related course -->
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">Recent Course</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- course item -->
      {% for course in rcourses %}{% now "Y-m-d" as todays_date %}
      {% if todays_date < course.course_date|date:"Y-m-d" %}
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{{ course.image.url }}" alt="course thumb">
          <div class="card-body">
            <ul class="list-inline mb-2">
              <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>{{ course.course_date|date:"F d, Y" }}</li>
              <li class="list-inline-item"><a class="text-color" href="#">{{ course.category }}</a></li>
            </ul>
            <a href="{% url 'course-detail' course.id %}">
              <h4 class="card-title">{{ course.title }}</h4>
            </a>
            <p class="card-text mb-4">{{course.short_content}}</p>
            <a href="{{ course.get_add_to_cart_url }}" class="btn btn-primary btn-sm">Add to Cart</a>
            <a href="{{ course.get_absolute_url }}" class="btn btn-secondary">View</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /related course -->

{% endblock content %}