{% load static %}

<!-- preloader start -->
<div class="preloader">
  <img src="{% static 'images/preloader.gif' %}" alt="preloader">
</div>
<!-- preloader end -->

<!-- header -->
<header class="fixed-top header">
  <!-- top header -->
  <div class="top-header py-2 bg-white">
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class=" message alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
      <div class="row no-gutters">
        <div class="col-lg-4 text-center text-lg-left">
          <a class="text-color mr-3" href="callto:+443003030266"><strong>CALL</strong> +44 300 303 0266</a>
          <ul class="list-inline d-inline">
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-facebook"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-linkedin"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
          <ul class="list-inline">
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="{% url 'ecenter-notice' %}">notice</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="{% url 'ecenter-research' %}">research</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="{% url 'ecenter-scholarship' %}">SCHOLARSHIP</a></li>
            {% if user.is_authenticated %}
            <li class="list-inline-item dropdown view">
                <a class="list-inline-item dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"><i class="ti-user mr-2"></i>
                  {{request.user.userprofile.name}}
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="{% url 'ecenter-profile' %}"></i>Profile</a>
                  <a class="dropdown-item" class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="{% url 'account_email' %}">Change E-mail</a>
                  <a class="dropdown-item" class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="{% url 'post-create' %}">New Post</a>
                  
                </div>
            </li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="{% url 'account_logout' %}">Sign Out</a></li>
            {% else %}
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="{% url 'account_login' %}">Sign in</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="{% url 'account_signup' %}">Sign up</a></li>
            {% endif %}
            <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-shopping-cart mr-2"></i></a></li>
            <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-search mr-2"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- navbar -->
  <div class="navigation w-100">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light p-0">
        <a class="navbar-brand" href="{% url 'ecenter-home' %}"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
        <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto text-center">
            <li {% if about.about_heading_title %} class="nav-item active" {% else %} class="nav-item @@home" {% endif %}>
              <a class="nav-link" href="{% url 'ecenter-home' %}">Home</a>
            </li>
            <li {% if about.about_heading_title %} class="nav-item active" {% else %} class="nav-item @@about" {% endif %}>
              <a class="nav-link" href="{% url 'ecenter-about' %}">About</a>
            </li>
            <li {% if header.courses_heading_title %} class="nav-item active" {% else %} class="nav-item @@courses" {% endif %}>
              <a class="nav-link" href="{% url 'ecenter-courses' %}">COURSES</a>
            </li>
            <li {% if about.about_heading_title %} class="nav-item active" {% else %} class="nav-item @@events" {% endif %}>
              <a class="nav-link" href="{% url 'ecenter-events' %}">EVENTS</a>
            </li>
            <li {% if header.blog_heading_title %} class="nav-item active" {% else %} class="nav-item @@blog" {% endif %}>
              <a class="nav-link" href="{% url 'ecenter-blog' %}">BLOG</a>
            </li>
            <li class="nav-item dropdown view">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Pages
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'ecenter-teacher' %}">Teacher</a>
                <a class="dropdown-item" href="{% url 'ecenter-teacher-single' %}">Teacher Single</a>
                <a class="dropdown-item" href="{% url 'ecenter-notice' %}">Notice</a>
                {% comment %} <a class="dropdown-item" href="{% url 'ecenter-notice-single' %}">Notice Details</a> {% endcomment %}
                <a class="dropdown-item" href="{% url 'ecenter-research' %}">Research</a>
                <a class="dropdown-item" href="{% url 'ecenter-scholarship' %}">Scholarship</a>
                <a class="dropdown-item" href="{% url 'ecenter-event-single' %}">Event Details</a>
                <a class="dropdown-item" href="#">Blog Details</a>
              </div>
            </li>
            <li {% if contactdetails.contact_heading_message %} class="nav-item active" {% else %} class="nav-item @@contact" {% endif %}>
              <a class="nav-link" href="{% url 'ecenter-contact' %}">CONTACT</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- /header -->